/* form controls */
.input,
input[type="number"],
select {
  width: var(--width-base);
  padding: var(--padding);
  border-radius: var(--border-radius);
  border: var(--border);
  font-size: var(--font-size-base);
  color: var(--text);
  background: var(--color-white);
  transition: var(--transition);
}

.input:focus,
input[type="number"]:focus,
select:focus {
  outline: none;
  border-color: var(--color-grey-medium);
  box-shadow: var(--shadow-1);
}
